.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 15px auto 0 13px;
}

.u-section-1 .u-text-2 {
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 60px auto 0 13px;
}

.u-section-1 .u-text-4 {
  margin-left: 13px;
  margin-right: auto;
  margin-bottom: 60px;
}